.product-list {
  &__title {
    margin-bottom: 30px;
  }
  &__filter-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.filter-input {
  display: flex;
  align-items: center;
  &__label-value {
    margin-right: 10px;
  }
}
