$rR: 'robotoRegular';
$rB: 'robotoBold';
$rM: 'robotoMedium';
$mB: 'montserratBold';
$linkColor: #00b5bc;
$colorDesign: #396cfc;
$textColor: rgba(0, 0, 0, 0.7);
$textSize: 14px;
$linkColor: #00b5bc;
$siteFont: $rR, sans-serif;
$siteBackground: #f5f5f5;
$h1Size: 36px;
