@font-face {
  font-family: 'robotoBold';
  src: url('roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotoMedium';
  src: url('Roboto-Medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotoRegular';
  src: url('roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserratBold';
  src: url('montserrat-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
